body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height:24px;
    font-weight:500;
    color: #000000;
    
    
    background-color: #ffffff;
}
a {
  text-decoration: none;
}
.feature-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}
.feature-description,
.services-description,
.orders-description,
.orders-list-item {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.services-title{
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.orders-title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.orders-catalog,
.conditions-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.conditions-list-percent {
  font-size: 45px;
  line-height: 10.6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
.conditions-list-item {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.profits-description {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.main-header-logo img {
  opacity: 1;
  }
.main-header-logo img:hover {
  opacity: 0.8;
    
}
.main-header-logo img:active{
  opacity: 0.3;

}
.main-nav {
  background-color: #eeeeee;
}
.site-nav,
.user-nav  {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}
.site-nav-item a,
.user-nav-item a {
  color: #000000
}
.site-nav-item a:hover,
.user-nav-item a:hover {
  color: #fb565a;
}
.site-nav-item a:active,
.user-nav-item a:active {
  color: rgba(0, 0, 0, 0.3)
}
.site-nav-item a:focus,
.user-nav-item a:focus {
  text-decoration: underline;
  text-decoration-color: #d7373b;
  color: #000000;
}
.button  {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.button:hover {
  background-color: #e74246;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
.services {
  list-style: none;
}
.button-web,
.button-app,
.button-present {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button-web:active,
.button-app:active,
.button-present:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-web {
  background-color: #fb565a;
}
.button-web:hover {
  background-color: #e74246;
}
.button-web:active {
  background-color: #d7373b;
}
.button-app {
  background-color: #00ca74;
}
.button-app:hover {
  background-color: #00bc6c;
   
}
.button-app:active {
  background-color: #00aa62;
   
}
.button-present {
  background-color: #efc84a;
    
}
.button-present:hover {
  background-color: #eab534;
   
}
.button-present:active {
  background-color: #e5a722;
}
.partners img {
  opacity: 0.2;
}
.partners img:hover {
  opacity: 1;
}
.partners img:active {
  opacity: 0.1;
}
.social-item a  {
  background-color: #e1e1e1;
  color: #ffffff;
}
.social-item a:hover {
  background-color: #e74246;  
}
.social-item a:active {
  opacity: 0.35; 
  background-color: #d7373b;
}
.profits-title {
  font-size: 36px;
  color: #000000;
}
.modal-close {
  color: #fecccd;
}
.modal-close :hover{
  color: #fb565a;
}
.modal-close :active{
  color: #ffeeee;
}
.modal-half-width {
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
  border-color: #000000;
}
.modal-half-width input[type=text] {
  opacity: 0.35;
  border-color: #d7dcde;
    
}
.modal-half-width input[type=text]:hover {
  opacity: 0.35;
  border-color: #b4b9bb;
    
}
.modal-half-width input[type=text]:focus {
  opacity: 1;
  border-color: #000000;
    
}
.input:invalid {
  border-color: #d7373b;
  }
/* Невалидная форма  верно сделана? Не работает */
.button-form  {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  }
.button-form:hover {
   background-color: #dfdfdf;
  }
.button-form:active{
  color: rgba( 0, 0, 0, 0.3);
  background-color: #d5d5d5;
  }
.sorting-option-item a,
.sorting-direction-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba( 0, 0, 0, 0.3);
  }
.sorting-option-item a:hover,
.sorting-direction-item a:hover {
  color: rgba( 0, 0, 0, 0.6);
  }
.sorting-option-item.--current a,
.sorting-option-item a:active,
.sorting-direction-item a:active {
  color: #000000;
 }
.button-write {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff ;
  background-color: #fb565a;
}
.button-write:hover {
  color: #ffffff;
  background-color: #e74246;
}
.button-write:active; {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
.pagination {
 font-size: 14px;
 line-height: 18px;
 list-style-type: none;
 text-align: center;
 color: #000000;
}

.pagination-item.--current a {
background-color:#ffffff;
color: #000000;
border: 1px solid #eeeeee;
}
.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}
.pagination-item a:hover {
  color: #000000;
  background-color: #dfdfdf;
}
.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba( 0, 0, 0, 0.3);
}
.catalog-title {
 font-size: 18px;
 line-height: 30px;
 color: #000000;
}
.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.contacts-text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
/*
.filter-net input[type="radio"],
.filter-net input[type="radio" :checked] {
  background-color: #b8b8b8;
}
.filter-net input[type="radio"]:hover,
.filter-net input[type="radio":checked]:hover {
  background-color: #000000;
}
.filter-net input[type="radio"],
.filter-net input[type="radio" :checked] {
  background-color: #b8b8b8;
}*/
.page-title {
  font-size: 55px;
 line-height: 55px;
 text-align: center;
 color: #000000;
}
.price-title,
.sorting-title {
 font-size: 18px;
 line-height: 18px;
 color: #000000;
}
.filter-net ul {
  list-style: none;
  line-height: 20px;
}

.filter-adaptive input [type="radio"],
.filter-adaptive input [type="radio"] + checked {
  color: #999999;
}
.filter-adaptive input [type="radio"]:hover,
.filter-adaptive input [type="radio"]:hover + checked {
  color: #000000;
}
.filter-adaptive input [type="radio"]:disabled,
.filter-adaptive input [type="radio"]:disabled + checked {
  color: rgba(229, 229, 229, 0.3);
}