body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height:24px;
    font-weight:700;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
}
.inner-page {
    color: #ffffff;
}
a {
    text-decoration: none;
}
.main-header-logo img {
    opacity: 1;
  }
.main-header-logo img:hover {
    opacity: 0.8;
    
}
.main-header-logo img:active{
    opacity: 0.3;

}
.main-nav {
  background-color: #eeeeee;
}
.site-nav,
.user-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}
.site-nav,
.user-nav {
  list-style: none;
}
.site-nav a,
.user-nav a {
  color: #000000
}
.site-nav a:hover,
.user-nav a:hover {
  color: #fb565a;
}
.site-nav a:active,
.user-nav a:active {
  opacity: 0.1;
}
.button  {
  
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
}
.button:hover {
  
  text-align: center;
  text-transform: uppercase;
  background-color: #e74246;
  color: #ffffff;
}
.button:active{
  
  text-align: center;
  text-transform: uppercase;
  background-color: #d7373b;
  color: #e48789;
}
.services {
    list-style: none;
}
.button-web
.button-app,
.button-present {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.button-web:active
.button-app:active,
.button-present:active {
    color: rgba(255, 255, 255, 0.3);
}
.button-web {
    background-color: rgba(251, 86, 90, 1);
}
.button-web:hover {
    background-color: rgba(251, 86, 90, 1);
   
}
.button-web:active {
    background-color: rgba(251, 86, 90, 0.35);
}
.button-app {
   background-color: rgba(0, 202, 116, 1);
}
.button-app:hover {
  background-color: rgba(0, 202, 116, 1);
   
}
.button-app:active {
    background-color: rgba(0, 202, 116, 0,35);
   
}
.button-present {
    background-color: rgba(239, 200, 274, 1);
    
}
.button-present:hover {
    background-color: rgba(239, 200, 274, 1);
   
}
.button-present:active {
    background-color: rgba(239, 200, 274, 0,35);
}
.partners img {
    opacity: 0.2;
}
.partners img:hover {
    opacity: 1;
}
.partners img:active {
    opacity: 0.1;
}
<!-- 
.social-item a {
    opacity: 0.1;
   
}
.social-item a:hover {
    
}
.social-item a:active {
   
}
-->
.modal-close {
    color: #fecccd;
}
.modal-close :hover{
    color: #fb565a;
}
.modal-close :active{
    color: #ffeeee;
}
.modal-half-width {
    text-transform: capitalize;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    border-color: #000000;
}
.modal-half-width input[type=text] {
    border-color: #d7dcde;
    opacity: 0.35;
}
.modal-half-width input[type=text]:hover {
    border-color: #b4b9bb;
    opacity: 0.35;
}
.modal-half-width input[type=text]:focus {
    border-color: #000000;
    opacity: 1;
}
.input:invalid {
    border-color: #d7373b;
  }
<!-- Невалидная форма  верно сделана? Не работает. -->
.filter.button  {
  
    text-align: center;
    text-transform: uppercase;
    background-color: #eeeeee;
    color: #000000;
  }
 filter.button:hover {
    
    text-align: center;
    text-transform: uppercase;
    background-color: #dfdfdf;
    color: #000000;
  }
  filter.button:active{
    
    text-align: center;
    text-transform: uppercase;
    background-color: #d5d5d5;
    color: #a9a9a9;
  }
  <!-- кнопка показать в каталоге. Не получается подключить каталог-->