body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height:24px;
    font-weight:700;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.main-header-logo a {
    color: #000000;
  }
.main-header-logo a:hover {
  color: #283136;
}
.main-header-logo a:focus {
  color: #a6a6a6;
}
.main-nav {
  font-size: 16px;
  line-height:30px;
  color: #000000;
  background-color: #eeeeee;
}
.site-nav,
.user-nav {
  list-style: none;
}
.site-nav a,
.user-nav a {
  color: #000000
}
.site-nav a:hover,
.user-nav a:hover {
  
  color: #fb565a;
}
.site-nav a:focus,
.user-nav a:focus {
  
  color: #bdbdbd;
}
.site-nav a:active,
.user-nav a:active {
  text-decoration: underline;
  color: #000000;
}

.button  {
  
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
}
.button:hover {
  
  text-align: center;
  text-transform: uppercase;
  background-color: #e74246;
  color: #ffffff;
}
.button:focus{
  
  text-align: center;
  text-transform: uppercase;
  background-color: #d7373b;
  color: #e48789;
}
.services {
    list-style: none;
}
.button-web {
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
}
.button-web:hover {
   text-align: center;
   text-transform: uppercase;
   background-color: #e74246;
   color: #ffffff;
}
.button-web:focus {
    text-align: center;
    text-transform: uppercase;
    background-color: #d7373b;
    color: #e48789;
}
.button-app {
    text-align: center;
    text-transform: uppercase;
    background-color: #00ca74;
    color: #ffffff;
}
.button-app:hover {
   text-align: center;
   text-transform: uppercase;
   background-color: #00bc6c;
   color: #ffffff;
}
.button-app:focus {
    text-align: center;
    text-transform: uppercase;
    background-color: #00aa62;
    color: #5ebf8d;
}
.button-present {
    text-align: center;
    text-transform: uppercase;
    background-color: #efc84a;
    color: #ffffff;
}
.button-present:hover {
   text-align: center;
   text-transform: uppercase;
   background-color: #eab534;
   color: #ffffff;
}
.button-present:focus {
    text-align: center;
    text-transform: uppercase;
    background-color: #e5a722;
    color: #ebbc6a;
}
.partners {
    list-style: none;
}
.partners   {
    background-color: #ffffff;
    color: #d3d3d3;
}
.partners :hover {
    background-color: #ffffff;
    color: #000000;
}
.partners :focus {
    background-color: #ffffff;
    color: #e5e5e5;
}


